/*Universal styles*/
html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #2E1C1F
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.5;
  padding: 0rem;
  color: #B8707B;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 1em 0em 1em 0em;
  color: #2E1C1F;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5em 0em 0.5em 0em;
 }

a {
  text-decoration: none;
  color: #424242;
 }

a:link {
     background-color: none;
 }

a:visited {
     background-color: none;
 }

a:hover {
     text-decoration: underline;

 }

a:active {
     border: 1px dotted;
     border-radius: 2px;
     padding: 2px;
 }


/**Navigation**/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
nav div {
  display: flex;
  align-items: center;
  }

nav div {
  height: 32px;
}

.mobile  {
  display: none;
}

.heart-logo {
  font-size: 1.75rem;
  font-family: 'Quicksand', sans-serif;
}


.heart-logo img {
  padding: 0 0 0 24px;
}

ul li {
  display: inline;
}

.main li {
  padding: 0px 8px 0px 0px;
}

.main {
  padding: 0px 24px 0px 0px;
}

body, html {
    height: 100%;
    margin: 0;
}
/**Banner**/

.banner {
    /* The image used */
    background-image: url("../images/final-website-hero-banner-final.jpg");

    /* Full height */
    height: 60%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
